
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

input, button, textarea, select {
    font: inherit;
}

/*img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}*/

.svg {
    display: block;
    max-width: 100%;
}

.pic {
    display: block;
    max-width: 100%; 
}

:root {
    --Soft-orange: 	#e9ab53;
    --Soft-red: 	#f15e50;
    --Off-white: 	#fffdfa;
    --Grayish-blue: #c5c6ce;
    --Darkgrayishblue: 	#5d5f79;
    --Verydarkblue: 	#00001a;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
    background-color: var(--Off-white);
};

.main {
    display: grid;
    place-items: center;
}

.grid-container {
    display: grid;
  }

.header {

}
  
.sec1 {
    grid-area: sec1-alias;
}

.sec2 {
    grid-area: sec2-alias;
    font-size: 1.7rem;
}

.sec3 {
    grid-area: sec3-alias;
    line-height: 1.5rem;
    color: var(--Darkgrayishblue);
}

button {
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--Off-white);
    text-transform: uppercase;
    background-color: var(--Soft-red);
    border: none;
    text-decoration: none;
    width: 200px;
    height: 50px;
    letter-spacing: 5px;
    font-weight: 600;
    cursor: pointer;
}

.sec4 {
    grid-area: sec3-alias;
    background-color: var(--Verydarkblue);
    color: var(--Off-white);
}

.article {
    display: grid;
    gap: 2rem;
    padding: 1.5rem clamp(1rem, 7vw, 2rem);
}

.article > h1 {
    color:  var(--Soft-orange);
}

.article > h3 {
    color: var(--Off-white);
    font-weight: 600;
}

.section-border > h1 {
    color: var(--Soft-orange);
    font-size: 2rem;
}

.section-border > p {
    color: var(--Grayish-blue);
    opacity: 0.6;
}

.section-border {
    line-height: 2rem;
}

.border {
    border-top: 0.5px solid var(--Darkgrayishblue);
    padding-block-start: 2rem;
}

.sec5 {
    grid-area: sec3-alias;
}

.computers-grid {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.gadgets-1 {
    display: flex;
}

.gadgets-2 {
    display: flex;
}

.gadgets-3 {
    display: flex;
}

.picture {
    float: left !important;
    width:  100px !important;
    height: 130px !important;
    object-fit: cover !important;
}

.content {
    padding: 0px 15px;
}

.numbers {
    color: var(--Grayish-blue);
    font-size: 2rem;
}

.title {
    color: var(--Verydarkblue);
    font-weight: 800;
    line-height: 2.4em;
}
.content p {
    color: var(--Darkgrayishblue);
    line-height: 1.8em !important;
}


/* components */
.card-section {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-areas:
     'one'
     'two'
     'three'
     'four'
     'five'
     'six';
  
    padding-block: 2rem;
    gap: 1.5rem;
    width: min(95%, 70rem);
    margin-inline: auto;
  }


.section:nth-child(1) {
    grid-area: one;
}
.section:nth-child(2) {
    grid-area: two;
}
.section:nth-child(3) {
    grid-area: three;
    color: var(--Verydarkblue);
}
.section:nth-child(4) {
    grid-area: four;
}
.section:nth-child(5) {
    grid-area: five;
}
.section:nth-child(6) {
    grid-area: six;
}

/*#menu {
    display: none;
}

#items {
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0;
}*/

nav {
    /*box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.1);*/
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 50px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #00001a;
}

nav a:hover {
    background-color: grey;
}

nav li:first-child {
    margin-right: auto;
}

.sidebar {
    position: fixed;
    color: var(--Verydarkblue);
    font-weight: 500;
    font-size: 1.1rem;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: var(--Off-white);
    /*backdrop-filter: blur(10px);*/
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}

.menu-button {
    display: none;
}

.sidebar li:first-child {
    margin-left: 170px;
    column-gap: 20rem;
    margin-bottom: 80px;
    margin-top: 32px;
}

@media (max-width: 800px) {
    .hideOnMobile {
        display: none;
    }
    .menu-button {
        display: block;
    }
}