
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    line-height: 1.5rem;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

input, button, textarea, select {
    font: inherit;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

:root {
    --Soft-orange: 	#e9ab53;
    --Soft-red: 	#f15e50;
    --Off-white: 	#fffdfa;
    --Grayish-blue: #c5c6ce;
    --Darkgrayishblue: 	#5d5f79;
    --Verydarkblue: 	#00001a;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
    background-color: darksalmon;
};

.main {
    display: grid;
    place-items: center;
}

.grid-container {
    display: grid;
    gap: 2px 2px;
    padding: px;
  }

.section {
    gap: 100%;
}

.header {
    background-color: #c1bec5;
}
  
.sec1 {
    grid-area: sec1-alias;
    background-color: #3A8C7D;
}

.sec2 {
    grid-area: sec2-alias;
    background-color: #133431;
}

.sec3 {
    grid-area: sec3-alias;
    background-color: #1c6e40;
}

.sec4 {
    grid-area: sec3-alias;
    background-color: #527f66;
}

.sec5 {
    grid-area: sec3-alias;
    background-color: #71D99E;
}

/* components */
.card-section {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-areas:
     'one'
     'two'
     'three'
     'four'
     'five'
     'six';
  
    padding-block: 2rem;
    gap: 1.5rem;
    width: min(95%, 70rem);
    margin-inline: auto;
  }


.section:nth-child(1) {
    grid-area: one;
}
.section:nth-child(2) {
    grid-area: two;
}
.section:nth-child(3) {
    grid-area: three;
}
.section:nth-child(4) {
    grid-area: four;
}
.section:nth-child(5) {
    grid-area: five;
}
.section:nth-child(6) {
    grid-area: six;
}

/*#menu {
    display: none;
}

#items {
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0;
}*/

nav {
    box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.1);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 50px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #00001a;
}

nav a:hover {
    background-color: grey;
}

nav li:first-child {
    margin-right: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}

.menu-button {
    display: none;
}

@media (max-width: 800px) {
    .hideOnMobile {
        display: none;
    }
    .menu-button {
        display: block;
    }
}