
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*, *::before, *::after {
    box-sizing: inherit;
    margin: auto;
}

body {
    box-sizing: border-box;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

input, button, textarea, select {
    font: inherit;
}

/*img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}*/

/*.svg {
    display: block;
    max-width: 100%;
}*/

img {
    width: 100%;
}

:root {
    --Soft-orange: 	#e9ab53;
    --Soft-red: 	#f15e50;
    --Off-white: 	#fffdfa;
    --Grayish-blue: #c5c6ce;
    --Darkgrayishblue: 	#5d5f79;
    --Verydarkblue: 	#00001a;
}

html {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
      background-color: var(--Off-white);
}

.grid-container {
    width: 90vw;
    margin: 30px auto;
    max-width: 500px;
    padding: 0;
}

.row-container {
  display:grid;
  margin:0 auto;
}

.header {
    position: relative;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 50px;
}

nav a{
    height: 100%;
    padding: 0 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #00001a;
}

nav a:hover {
    color: var(--Soft-red);
}

nav li:first-child {
    margin-right: auto;
}

.sidebar {
    position: fixed;
    color: var(--Verydarkblue);
    font-weight: 500;
    font-size: 1.1rem;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: var(--Off-white);
    /*backdrop-filter: blur(10px);*/
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}

.menu-button {
    display: block;
}

.hideOnMobile {
    display: none;
}

.sidebar li:first-child {
    margin-left: 170px;
    column-gap: 20rem;
    margin-bottom: 80px;
    margin-top: 32px;
}

.sec2 {
    font-size: 1.8rem;
    margin: 20px 0px;
}

.sec3 {
    line-height: 1.5rem;
    color: var(--Darkgrayishblue);
}

button {
    margin-top: 20px;
    margin-bottom: 0px;
    color: var(--Off-white);
    text-transform: uppercase;
    background-color: var(--Soft-red);
    border: none;
    text-decoration: none;
    width: 200px;
    height: 50px;
    letter-spacing: 5px;
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    color: var(--Off-white);
    background-color: var(--Verydarkblue);
}

.sec4 {
    background-color: var(--Verydarkblue);
    color: var(--Off-white);
}

.article {
    display: grid;
    gap: 2rem;
    padding: 1.5rem clamp(1rem, 7vw, 2rem);
}

.article > h1 {
    color:  var(--Soft-orange);
}

.article > h3 {
    color: var(--Off-white);
    font-weight: 600;
}

.section-border > h1 {
    color: var(--Soft-orange);
    font-size: 2rem;
}

.section-border > h3:hover {
    color:  var(--Soft-orange);
    cursor: pointer;
}

.section-border > p {
    color: var(--Grayish-blue);
    opacity: 0.6;
}

.section-border {
    line-height: 2rem;
}

.border {
    border-top: 0.5px solid var(--Darkgrayishblue);
    padding-block-start: 2rem;
}

.computers-grid {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.gadgets-1 {
    display: flex;
}

.gadgets-2 {
    display: flex;
}

.gadgets-3 {
    display: flex;
}

.picture {
    float: left !important;
    width:  100px !important;
    height: 130px !important;
    object-fit: cover !important;
}

.content {
    padding: 0px 15px;
}

.numbers {
    color: var(--Grayish-blue);
    font-size: 2rem;
}

.title {
    color: var(--Verydarkblue);
    font-weight: 800;
    line-height: 2.4em;
}

.title:hover {
    color: var(--Soft-red);
    cursor: pointer;
}

.content p {
    color: var(--Darkgrayishblue);
    line-height: 1.8em !important;
}


/* components */
.card-section {
    margin: auto;
    display: grid;
    grid-auto-columns: 3fr;
    grid-template-areas:
     'one'
     'two'
     'three';
  
    padding-block: 2rem;
    gap: 1.5rem;
    width: min(100%, 100rem);
  }


.section:nth-child(1) {
    grid-area: one;
}
.section:nth-child(2) {
    grid-area: two;
}
.section:nth-child(3) {
    grid-area: three;
    color: var(--Verydarkblue);
}
.pic {
    display: block;
}

.pic2 {
    display: none;
}

@media (min-width: 735px) {
    .hideOnMobile {
        display: block;
    }
    .menu-button {
        display: none;
    }
}

@media (width >= 1200px) {

    .grid-container {
        max-width: 100vw;
        max-height: 100vh;
        margin-top: 50px;
        gap: 60px 0px;
        box-shadow: 1px 2px 5px 1px black;
    }

    .row-container {
        max-width:69.375rem;
        grid-auto-flow: column;
      }

    .first-box {
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
    }

    .text-body {
        display: grid;
    }
    .sec2 {
        display: grid;
        grid-column: 1 / 2;
    }

    .sec3 {
        display: grid;
        grid-column: 2 / 3;
        margin-top: 20px
    }
    
.section:nth-child(1) {
    grid-area: one;
    grid-column: 1 / 3;
}

.section:nth-child(2) {
    grid-area: two;
    grid-column: 3 / 4 ;
    grid-row: 1 / 2;
}
    
.section:nth-child(3) {
    display: grid;
    grid-area: three;
    grid-row: 3/ 4;
    grid-column: 1 / 4;
    grid-template-columns: 1fr 1fr 1fr;
}

}
/*@media (min-width: 950px) {
    .computers-grid {
        flex-direction: row;
    }
    .card-section {
        grid-template-rows: 1fr 1fr 1fr;
        grid-auto-columns: 1fr;
        grid-template-areas:
         'one one four'
         'two three four'
         'five five five';
      }
    .pic {
        display: none;
    }

    .pic2 {
        display: block;
        grid-area: one;
        width: 100px;
        height: 100px;
    }
    .sec2 {
        grid-area: two;
    }
    .sec3 {
        grid-area: three;
    }
    .sec4 {
        grid-area: four;
    }
    .sec5 {
        grid-area: five;
    }
}*/